* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    z-index: 1000;
}

header img {
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul > li {
    margin: 0 20px;
}

.navbar ul > li > a {
    color: #004c94;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Seções principais */
main > #home {
    padding-top: 70px;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main > #home > img {
    width: 400px;
    margin-bottom: 20px;
    border-radius: 25px;
    max-width: 90%;
}

main > #home > h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

main > #home > p {
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 1.2rem;
}

.botao {
    background-color: #004c94;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #003366;
}

main #quem_somos {
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #004c94;
    color: #fff;
    padding: 50px 20px;
}

main #quem_somos img {
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    margin: 20px 0;
}

main #quem_somos div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

main #quem_somos div h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main #quem_somos div p {
    margin: 15px 0;
    font-size: 1.1rem;
}

main #produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #ffff;
}

main #produtos h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #004c94;
}

.carousel-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.carousel {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative; 
    height: 600px; 
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-grow: 1;
    
}

.carousel-item {
    min-width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%; 
    
}

.carousel-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.carousel-item p {
    margin: 0 0 20px;
    font-size: 1em;
    text-align: center;
}

.carousel-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: auto;
}


.carousel-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
}

.carousel-buttons button:hover {
    background-color: #0056b3;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-controls button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-controls button:hover {
    background-color: #0056b3;
}

/* FOOTER */
footer {
    padding-top: 80px;
    background-color: #ffffff;
    color: #333;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.footer-bottom {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.name1 {
    color: #4e57d4;
    text-decoration: none;
}

.text1 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.colorblack {
    color: #333;
}

.line {
    width: 40px;
    height: 4px;
    background-color: #666;
    margin: 12px 0 24px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #333;
    transition: all 0.3s;
}

.social-icons a:hover {
    background-color: #333;
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #4e57d4;
}

.mb-0 {
    margin-bottom: 0;
}

.opc2 {
    background-color: #ffffff;
}


